.main-wrapper{
 
display: flex;
align-items: start;
gap:50px;
margin-top: 10%;
margin-left: 2%;
padding-bottom: 4%;
justify-content: center; 
}
.ellipse {
  width: 475px;
  height: 70px;
  background:#406CB8;
  border-radius: 50%;
  filter: blur(64px);
 position: absolute;
margin-left: -10%;
margin-top: -2%;
}
.ellipse_2{
  width: 475px;
  height: 70px;
  background: #406CB8;
  border-radius: 50%;
  /* box-shadow: 0px 4px 200px 0px #1F4482, 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 4px 0px #a3bff8 inset; */
  filter: blur(60px);
  left: 0;
  margin-left: -10%;
  margin-bottom: 0%;
  /* position: relative; */
  overflow: hidden;
}

.page-1-contianer{
  background: linear-gradient(270deg, #05445E 0%, #022534 100%);
 

  mix-blend-mode: color-dodge;
  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  
}
.btn-wrapper{
  display: flex;
  gap:10px;
}
.btn-wrapper_sm{
  display:none;
}
.page2-container{
  background: linear-gradient(180deg, #FFF 0%, #F6FAFF 100%);
}
@media(max-width:1224px){
.ellipse{
  display:none;
}
.ellipse_2{
  display:none;
}

.main-wrapper{
display: flex;
overflow: hidden;
flex-wrap: wrap;
gap:50px;
margin:0;
justify-content: center; 
}
.btn-wrapper{
  display:none;
}
.btn-wrapper_sm{
  display:flex;
  width:100%;
  gap:10px;
  flex-direction: column;
}
.tab-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 12px;
  border-radius: 12px;
  background: linear-gradient(90deg, #05445E 0%,#29539B 100.3%);
  padding-right: none;
  /* width: 320px; */
  /* position: absolute; */
}
.display-wrapper {
  display: flex;
  align-self: start;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  /* overflow: hidden; */
}
.page-1-contianer {
  background: linear-gradient(214deg, #022534 40%, #406CB8 100%);
  mix-blend-mode: color-dodge;
  display: flex;
  padding:7%;
  flex-direction: column;
  overflow: hidden;
}
}

.main-display{
  display: flex;
  flex-direction: column;
}
.page1textwrapper{

  display: flex;
  flex-direction: column;
  gap:2px;
  justify-content:space-around;
  max-width: 42rem;
}
.page1header{
  /* font-family: Rubik; */
  color:white;
  font-size:60px;
  font-weight:800;
  flex-shrink:1;
}
.page1text{

  color:white;
  font-size: 20px;
   
}
.page1btn{
  background: linear-gradient(90deg, #FFF, #DFF6FF);
 padding:  8px 60px;
  border-radius: 8px;
  font-size: 22px;
  color: #05445E;
  border:none
}
.page1btn2{
  background: linear-gradient(to right, #033042 -0.03%, #005C83 99.9%);
  padding: 12px 46px;
  border-radius: 8px;
  font-size: 22px;
  color: white;
  border:none
}
.page1headerwrapper{
   
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:35px;
  flex-shrink:1;
}
.Cross-img{
max-width: 600px;
max-height: 700px;
}
